<!DOCTYPE html>
<html>
    <head>
        <title>Generador de Imágenes</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_style.css')}}">
    </head>
    <body>
        <div class="main-container">
            <div class="header">
                <p>Generador de Imágenes</p>
            </div>
            <br>
            <div class="login-box">
                <form action="/generar_imagen" method="post">
                    <div class="prompt-box">
                        
                        <input type="text" name="prompt" placeholder="Ingrese su descripción o texto"></input>
                        
                    </div>
                    <div class="size-box">
                        <input type="text" name="ancho" min="0" max="3000" placeholder="ancho"></input>
                    </div>
                    <br>
                    <br>
                    <div class="size-box">
                        <input type="text" name="alto" min="0" max="3000" placeholder="alto"></input>
                    </div>
                    <br>
                    <br>
                    <center>
                        <input type="submit" value="Generar Imagen"/>
                    </center>
                </form>
            </div>
        </div>  
    </body>
</html>

