<!DOCTYPE html>
<html>
    <head>
        <title>Resultado</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_style.css')}}">
    </head>
    <body>
        <div class="header">
            Resultado
        </div>
        <center>
            <div class="anim-button">
                <a href="/">
                    Volver al inicio
                    <span></span>
                </a>
            </div>
        </center>
        <div class="image-box">
            
            <img src="{{url_for('static', filename='imagenes/result.jpg') }}"/>
            
        </div>
        
            
      
    </body>
</html>

